li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-radius: 10px;
}

button {
  border: none;
}

.taskInfoBtn {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-left: 8px;
}

.editIcon,
.delIcon {
  color: #b7a8a8;
}

label {
  display: flex;
  align-self: center;
}

input[type="checkbox"] {
  cursor: pointer;
}

.editInput {
  width: 80%;
  height: 30px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.delIcon:hover,
.delIcon:active {
  color: #ff0000;
  cursor: pointer;
}

.editIcon:hover,
.editIcon:active {
  color: #4739eb;
  cursor: pointer;
}

.editDelete {
  display: flex;
  margin-right: 8px;
}
