li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-radius: 10px;
}

button {
  border: none;
}

.taskInfoBtn {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-left: 8px;
}

.editIcon,
.delIcon {
  color: #b7a8a8;
}

label {
  display: flex;
  align-self: center;
}

input[type="checkbox"] {
  cursor: pointer;
}

.delIcon:hover,
.delIcon:active {
  color: #ff0000;
}

.editDelete {
  display: flex;
  margin-right: 8px;
}
