.footer {
  display: flex;
  background-color: #e3f2ed;
  align-items: center;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0.25em 1.5em;
  margin-top: 1rem;
  border-radius: 0 0 5px 5px;
}

.number {
  font-size: 14px;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0.5em 1em;
  font-weight: 300;
}

.button:hover,
.button:active {
  background-color: #ced0cf;
  border-radius: 2px;
  font-weight: 400;
}
